body{ margin:0; padding:0; font-family:"Microsoft Yahei";color:#777;font-size:12px;background: #f5f5f5;}
div,form,ul,li,img,input,span,p,h1,h2,h3,font{ margin:0; padding:0; border:0; list-style:none;}
ul,li{padding:0px;margin:0px;list-style-type:none;}
.clear{clear:both; font-size:0px; line-height:0px; width:0px; height:0px; visibility:hidden;}
a{color:#777;text-decoration:none;}
a:hover {color:#ff0000;text-decoration:none;}
.header{background:#d70000;}
.top{height:44px;}
.top h2{font-size:20px;line-height:44px;color:#fff;margin:0 auto;text-align:center; position: relative;}
.top a{height:44px;line-height:44px;font-size:16px;color:#fff;display:block;position:absolute;padding-left:10px;z-index: 99;}
.top a .top_back{width:10px;height:15px;display:block;float:left;margin:14px 4px 0 0;background: url(../img/icon.png) no-repeat -12px -73px;}
.nav{height:28px;padding:5px 10px;border-top:1px solid #c70000;}
.nav ul li{float:left;}
.nav ul li a{height:28px;line-height:28px;padding:0 10px;display: block;float: left;font-size: 14px;color:#fbefef;}
.nav ul li a.cur{color:#fff;background: #c00000;border-radius: 2px;}
.food{height:80px;padding:10px;border-bottom:1px solid #efefef;background:#fff;}
.food_pic{width: 117px;float:left;}
.food_pic img{display: block;}
.food_title h3{font-size: 16px;color: #333;font-weight: normal;}
.food_title .food_info{height:35px;padding-top:3px;line-height: 15px;}
.food_price h1{font-family:arial;font-size:22px;color:#ff0000;float:left;font-weight: normal;}
.quantity{width:76px;height:24px;float:right;}
.minus{float:left;}
.minus a{height: 22px;width:22px;background:url(../img/icon.png) no-repeat -37px -69px #f8f8f8;border:1px solid #e4e4e4;display:block;border-radius: 2px;}
.number{width: 28px;text-align:center;float:left;font-family: arial;line-height:24px;}
.plus{float:right;}
.plus a{height: 22px;width:22px;background:url(../img/icon.png) no-repeat -68px -69px #f8f8f8;border:1px solid #e4e4e4;display:block;border-radius: 2px;}
.copy{font-size: 11px;color: #bbb;text-align: center;padding:10px 0 65px 0;}
.menu_icon02{height:50px;width:50px;position:fixed;bottom:64px;left:15px;z-index: 999;}
.menu_icon02 em{height: 40px;width: 40px;display:block;border-radius: 23px;background:rgba(192, 0, 0, 0.9)!important;filter:Alpha(opacity=90);display: block;border:3px solid #fff;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);position: absolute;}
.menu_icon02 em a{height: 40px;width: 40px;display:block;background: url(../img/icon.png) no-repeat -92px -60px;}
.menu_icon02 font{width:13px;padding:0 4px;height: 16px;line-height:16px;border-radius:9px;font-size:11px;font-family:arial;background:#ff0000;border:1px solid #fff;display: block;text-align:center;color:#fff;position: relative;top:-2px;right:-34px;}
.bottom_nav{box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);height:52px;width:100%;background:rgba(255, 255, 255, 0.98)!important;filter:Alpha(opacity=98);border-top:1px solid #ddd;position:fixed;left: 0;bottom: 0;z-index: 999;}
.bottom_nav ul li{width:25%;float:left;}
.bottom_nav ul li a{width:100%;height:46px;padding-top:6px;float: left;display:block;text-align: center;color:#999;font-size:11px;}
.bottom_nav ul li a.cur{color:#ff0000;}
.bottom_nav ul li a .home_icon{width: 24px;height: 24px;display: block;background:url(../img/icon.png) no-repeat -4px -4px;margin:0 auto 2px auto;}
.bottom_nav ul li a.cur .home_icon{background:url(../img/icon.png) no-repeat -4px -36px;}
.bottom_nav ul li a .menu_icon{width: 24px;height: 24px;display: block;background:url(../img/icon.png) no-repeat -36px -4px;margin:0 auto 2px auto;}
.bottom_nav ul li a.cur .menu_icon{background:url(../img/icon.png) no-repeat -36px -36px;}
.bottom_nav ul li a .service_icon{width: 24px;height: 24px;display: block;background:url(../img/icon.png) no-repeat -68px -4px;margin:0 auto 2px auto;}
.bottom_nav ul li a.cur .service_icon{background:url(../img/icon.png) no-repeat -68px -36px;}
.bottom_nav ul li a .order_icon{width: 24px;height: 24px;display: block;background:url(../img/icon.png) no-repeat -100px -4px;margin:0 auto 2px auto;}
.bottom_nav ul li a.cur .order_icon{background:url(../img/icon.png) no-repeat -100px -36px;}
		
.container{padding:10px;}
.main{background: #fff;border-left:1px solid #e4e4e4;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-radius: 2px;}
.main ul li{border-bottom:1px solid #e4e4e4;padding:0 10px;}
.menu_list{height: 45px;line-height:45px;}
.main ul li .menu_title{width:50%;float:left;font-size: 16px;color:#333;}
.main ul li .menu_number{width:20%;float:left;text-align: right;color:#999;}
.main ul li .menu_price{width:30%;float:left;text-align: right;color:#999;}
.main ul li .menu_price strong{color:#ff0000;font-size:14px;font-weight: normal;}
.menu_box{height: 40px;}
.menu_delete{float: left;}
.menu_delete a{width: 32px;height: 32px;display:block;background: url(../img/icon.png) 0 -96px;float: left;}
.menu_btn{float: right;width:79px;height: 32px;}
.menu_btn .l_btn{width:38px;height:30px;border:1px solid #e4e4e4;float:left;display: block;background: url(../img/icon.png) no-repeat -29px -65px #f8f8f8;border-radius: 2px 0 0 2px;}
.menu_btn .r_btn{width:38px;height:30px;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;float:right;display: block;background: url(../img/icon.png) no-repeat -60px -65px #f8f8f8;border-radius: 0 2px 2px 0;}
.total_price{text-align: right;padding:10px 5px;}
.total_price strong{color:#ff0000;font-size: 22px;}
.submit a{height: 40px;line-height:40px;background: #ff0000;color:#fff;font-size: 18px;border-radius: 2px;display:block;text-align:center;}


.tips{background:rgba(255, 255, 255, 0.98)!important;filter:Alpha(opacity=98);box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);width:230px;padding-left:20px;height:36px;line-height:36px;font-size:14px;border-radius:2px;position:absolute;z-index: 9999;left:50%;top:50%;margin:-12px 0 0 -125px;}
.tips_icon{width: 18px;height: 18px;background: url(../img/icon.png) no-repeat -39px -103px;margin:9px 8px 0 0;display: block;float:left;}




